:root {
    margin: 0;
    padding: 0;
    --gray: rgba(255, 255, 255, 0.1);
    --gray-medium: rgba(255, 255, 255, 0.2);
    --gray-light: rgba(255, 255, 255, 0.5);
    --orange: rgba(243, 63, 63, 1);
    --red: rgba(164, 27, 27, 1);
    font-family: 'Inter', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}


/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 23%;
    height: 100vh;
    padding: 0 2%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 60vh;
    align-items: flex-start;
}

header .sidebar h2 {
    color: var(--red);
    text-align: center;
    font-size: 2em;
}

header .sidebar .search {
    position: relative;
}

header .sidebar .search img {
    position: absolute;
    left: 0.6em;
    top: 0.3em;
}

header .sidebar .search input {
    background-color: transparent;
    border: 0.1em solid var(--gray-medium);
    border-radius: 0.5em;
    padding: .5em;
    padding-left: 3em;
    color: var(--gray-light);
    font-size: 85%;
    box-sizing: border-box;
    width: 100%;
}

header .sidebar .nav {
    padding: 0;
    margin: 0;
    margin-top: 2.5em;
    list-style: none;
}

header .sidebar .nav li {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    padding: 0.6em;
    padding-left: 3em;
}

header .sidebar .nav li img {
    position: absolute;
    left: 0.6em;
    top: 0.6em;
}

header .sidebar .nav li p {
    padding: 0;
    margin: 0;
    font-weight: 200;
}

header .sidebar .nav li.active {
    background-color: var(--gray);
}

header #myList {
    display: none;
}

header #myList.active {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header #myList .informations {
    display: flex;
    justify-content: space-between;
}

header #myList .informations h3 {
    font-weight: 200;
    letter-spacing: 0.1em;
}

header #myList #moviesList {
    height: 100%;
    overflow: auto;
}

header #myList #moviesList .movie {
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 0.5em;
}

header #myList #moviesList .movie:hover {
    background-color: var(--red);
}

header #myList #moviesList .movie .poster {
    width: 100%;
}

header #myList #moviesList .movie .description {
    padding-left: 1em;
    box-sizing: border-box;
}

header #myList #moviesList .movie .description p {
    margin: 0;
}

header #myList #moviesList .movie .description .title {
    font-size: 1.2em;
    font-variant-caps: petite-caps;
}

header #myList #moviesList .movie .description .price {
    text-align: center;
    color: yellowgreen;
}

footer {
    width: 100%;
    text-align: center;
    background-color: var(--gray);
    color: white;
    padding: 0.5em;
    box-sizing: border-box;
}